{% extends 'base.html' %}

{% block body %}
<div class ="container">
  <p>
    <h1>Welcome!</h1>
    You can log in here!
  </p>
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}



<html>
  <head>
      <title>Login</title>

      {% load static %}
      <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
      Welcome! You can login here!
      <button class ="btn-default" type="button" name="button">Log in</button>
    </div>
    <h1>{{ myName }}</h1>
    <ul>
      {% for number in numbers %}
      <li>{{ number }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
